<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'img/logo.png' %}" alt="Логотип" class="logo">
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'about' %}">О нас</a></li>
                <li><a href="{% url 'floor' 1 %}">Первый этаж</a></li>
                <li><a href="{% url 'floor' 2 %}">Второй этаж</a></li>
                <li><a href="{% url 'floor' 3 %}">Третий этаж</a></li>
                {% if user.is_authenticated %}
                <!-- Show "Добавить" when the user is logged in -->
                <li><a href="{% url 'add_exhibit' %}">Добавить</a></li>
                <li><a href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                <!-- Show "Войти" when the user is not logged in -->
                <li><a href="{% url 'login' %}">Войти</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main class="main">
        <h1>О нашем музее</h1>


        <div class="row">
            <div class="half" style = "padding-left: 2.2vw;">
                <p>Мы — команда энтузиастов, объединенных любовью к искусству и стремлением сделать шедевры доступными каждому.
            Наш виртуальный музей позволяет знакомиться с уникальными произведениями XVI, XVII и XVIII веков, исследовать
            их художественную значимость и исторический контекст. Вдохновленные великими музеями мира, мы собрали коллекцию,
            которая отражает культурные веяния эпохи Возрождения, Барокко и Рококо, а также их развитие в эпоху Просвещения.
            Наша цель — создать не просто собрание картин, но и платформу для глубокого погружения в мир искусства.</p>

                <p>На нашем сайте представлены тщательно подобранные работы с подробным описанием каждой, позволяющие понять их
            стилистику и идеологические посылы. Мы надеемся, что этот проект поможет людям со всего мира прикоснуться к
            великому искусству, независимо от местоположения.</p>
            </div>
            <div class="half" style = "padding-left: 10vw">
                <img src="{% static 'img/about.png' %}" alt="Главная" width="800" height="600">
            </div>
        </div>
    </main>
</body>
</html>
