/* Общие стили для страницы */
body {
    background-color: #f8f5f0; /* Молочный фон */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff; /* Белый цвет навигационной панели */
    border-bottom: 1px solid #ccc;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    height: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Главный контент */
.main {
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
}

.half {
    flex: 1;
    justify-content: center; /* Center the image horizontally */
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.no-link-style {
    color: inherit;       /* Makes link color the same as its parent */
    text-decoration: none; /* Removes the underline */
    font-size: 20px;
}
